
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*   @if(TempData["RedirectReason"] == "Unauthorized")
        {
            <b>You don't have permission to access that area</b>
        }*@
        <b>You don't have permission to access that area</b>
    </div>
</body>
</html>
