@model LiteCommerce.Admin.Models.CategoryResult
@{
    ViewBag.Title = "Catogory";
}

<div class="box box-info">
    <div class="box-body">
        <form action="~/Category" method="get">
            <div class="input-group input-group-sm">

                <input name="searchValue" type="text" class="form-control" placeholder="Input search values...." value="@Model.searchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

</div>
<div class="container-fluid row" style="margin-bottom:10px">
    <div class="col-sm-8">
        There are <b>1,000</b> Shipper found. Page 1/100.
    </div>
    <div class="col-md-4 text-right">

        <div class="btn-group">
            <a href="~/Category/Input" class="btn btn-sm btn-success">Add Category</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Category</button>
        </div>

    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="sw-30">
                        <input type="checkbox" />
                    </th>
                    <th class="sw-50">#</th>
                    <th class="sw-auto">Category Name</th>
                    <th class="sw-auto">Description</th>
                    <th class="sw-100"></th>

                </tr>
            </thead>

            <tbody class="text-align">
                @foreach(var item in Model.Data)
                    {

                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                @item.CategoryID
                            </td>
                            <td>
                                <span class="text-primary cnp-name">@item.CategoryName</span>
                            </td>
                            <td>
                                <span>@item.Description</span>
                            </td>
                            <td class="text-center">
                                <!-- Button trigger modal -->
                                <a href="~/Category/Input/@item.CategoryID" class="btn btn-primary center-block">
                                    <i class="fa fa-info"></i>
                                </a>


                            </td>
                        </tr>
                    }
                

            </tbody>
        </table>
        
    </div>
</div>

