
@{
    
}
    <div class="box box-info">
        <div class="box-body">


            <form role="form">
                <div class="box-body row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contact Company</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Contact Company">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contact Name</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Contact Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contact Title</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Contact Title">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Phone number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter phonenumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fax</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-fax"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Fax">
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="col-sm-6">


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Country</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Country">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">City</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter City">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
                        </div>
                    </div>
                </div>

                <!-- /.box-body -->

                <div class="box-footer pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
                    <button type="reset" class="btn btn-white"><i class="fa fa-reset"></i>Cancel</button>
                </div>
            </form>
        </div>
    </div>

